# vimeo
VIMEO_USER_ID=vimeo_user_id
VIMEO_API_URL=vimeo_api_url
VIMEO_ACCESS_TOKEN=vimeo_access_token
VIMEO_LEERJAREN_INLEIDINGEN_PROJECT_ID=vimeo_leerjaren_inleidingen_project_id
VIMEO_LEERJAREN_PROJECT_ID=vimeo_leerjarnen_project_id

# application
NEXT_PUBLIC_API_BASE_URL=next_public_api_base_url

# gwap
NEXT_PUBLIC_GWAP_CLIENT_ID=next_public_gwap_client_id
GWAP_CLIENT_SECRET=gwap_client_secret
GWAP_CLIENT_ID=gwap_client_id
NEXT_PUBLIC_GWAP_REDIRECT_URI=next_public_gwap_redirect_uri
GWAP_REDIRECT_URI=gwap_redirect_uri
NEXT_PUBLIC_GWAP_CMS_BASE_URL=next_public_gwap_cms_base_url
GWAP_CMS_BASE_URL=gwap_cms_base_url
GWAP_PAYMENT_TOKEN=gwap_payment_token

# next-auth
NEXTAUTH_URL=nextauth_url
NEXTAUTH_SECRET=nextauth_secret