@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Quicksand", sans-serif !important;
}

@media screen and (min-width: 2560px) {
  #page-body,
  #navbar {
    max-width: unset;
  }
}
/* Cabin Sketch */
/* @font-face {
  font-family: "Cabin Sketch";
  src: url("../assets/fonts/Cabin_Sketch/CabinSketch-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cabin Sketch";
  src: url("../assets/fonts/Cabin_Sketch/CabinSketch-Bold.ttf");
  font-weight: bold;
  font-style: normal;
} */

/* Quicksand fonts */
/* @font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Quicksand/static/Quicksand-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/Quicksand/static/Quicksand-Light.ttf")
    format("truetype");
}

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/Quicksand/static/Quicksand-Medium.ttf")
    format("truetype");
}

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: bold;
  src: url("../assets/fonts/Quicksand/static/Quicksand-Semibold.ttf")
    format("truetype");
}

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 900;
  src: url("../assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf")
    format("truetype");
} */
